<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="imransk.ml.okkhorshikhi">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.Arbi_Borno_Activity">
        </activity>
        <activity android:name=".Activity.Bangla_Number_Activity">
        </activity>
        <activity android:name=".Activity.English_Numer_Activity">
        </activity>
        <activity android:name=".Activity.SmallLetters_Activity">
        </activity>
        <activity android:name=".Activity.CapitalLetters_Activity">
        </activity>
        <activity android:name=".Activity.BanjonBorno_Activity">
        </activity>
        <activity android:name=".Activity.Shorborno_Activity">
        </activity>
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>